# ADX connection
ADX_CLUSTER_URI=https://az-pricing-tool-adx.germanywestcentral.kusto.windows.net
ADX_DATABASE_NAME=pricing-metrics
# ADX_TENANT_ID=          # Set if you are a guest in the tenant

# PostgreSQL connection
POSTGRES_HOST=az-scout-pg.postgres.database.azure.com
POSTGRES_PORT=5432
POSTGRES_DB=azscout
POSTGRES_USER=azscout
POSTGRES_PASSWORD=
POSTGRES_SSLMODE=require
